div.navigation {
		display:block;
		height: 60px;
		background-color: #eef;
}

div.contents {
		float:left;
		clear:both;
		
}

address {
		display:none;
}

DIV.tabs
{
		float            : left;
		width            : 100%;
		margin-bottom    : 4px;
}

DIV.tabs UL
{
		margin           : 0px;
		padding-left     : 0px;
		list-style       : none;
}

DIV.tabs LI, DIV.tabs FORM
{
		display          : inline;
		margin           : 0px;
		padding          : 0px;
		background-color:#FFFFFF;
}

DIV.tabs FORM
{
		float            : right;
}

DIV.tabs A
{
		float            : left;
		font-size        : 80%;
		font-weight      : bold;
		text-decoration  : none;
}

DIV.tabs A:link, DIV.tabs A:visited,
DIV.tabs A:active, DIV.tabs A:hover
{
    color: #1A419D;
}

DIV.tabs SPAN
{
		float            : left;
		display          : block;
		padding          : 5px 9px;
		white-space      : nowrap;
}

DIV.tabs #MSearchBox
{
		float            : right;
		display          : inline;
		font-size        : 1em;
}


DIV.tabs LI.current A
{
		border-width     : 0px;
		background-color:	#dde;
}

DIV.tabs LI.current SPAN
{
		background-position: 0% -150px;
		padding-bottom   : 6px;
}

DIV.navpath
{
		text-align: center;
		padding-top: 1em;
}
